$color-primary: var(--color-primary);
$color-on-primary: var(--color-on-primary);
$color-accent: var(--color-accent);
$color-on-accent: var(--color-on-accent);
$color-text: var(--color-text);
$color-background: var(--color-background);
$color-background-muted: var(--color-background-muted);
$color-on-background: var(--color-on-background);

$color-primary-light: var(--color-primary-light);
$color-on-primary-light: var(--color-on-primary-light);
$color-accent-light: var(--color-accent-light);
$color-on-accent-light: var(--color-on-accent-light);
$color-text-light: var(--color-text-light);
$color-background-light: var(--color-background-light);
$color-background-muted-light: var(--color-background-muted-light);
$color-on-background-light: var(--color-on-background-light);

$color-white: #ffffff;
