$color-primary: var(--color-primary);
$color-on-primary: var(--color-on-primary);
$color-accent: var(--color-accent);
$color-on-accent: var(--color-on-accent);
$color-text: var(--color-text);
$color-background: var(--color-background);
$color-background-muted: var(--color-background-muted);
$color-on-background: var(--color-on-background);

$color-white: #ffffff;
