---
import { ICON_MAP, type IconKey } from '@/consts/icons';
import TechIcon from './icons/TechIcon.astro';

interface Props {
  iconKey: IconKey;
}

const { iconKey, ...rest } = Astro.props;
---

<div class="icon-card" {...rest}>
  <div class="icon-wrapper">
    <TechIcon iconKey={iconKey} class="icon" />
  </div>
  <p class="name">{ICON_MAP[iconKey].name}</p>
</div>

<style lang="scss">
  .icon-card {
    text-align: center;

    .icon-wrapper {
      position: relative;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: 80px;
      height: 80px;

      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        background: rgba(#00ffff, 0.7);
        filter: blur(20px);

        --size: 20px;
        width: var(--size);
        height: var(--size);

        opacity: 0.3;
        transition:
          opacity $transition-fast,
          width $transition-fast,
          height $transition-fast;

        @include dark-theme {
          --size: 60px;
          opacity: 1;
        }
      }

      .icon {
        $size: $font-size-4xl;

        width: $size;
        height: $size;
        position: relative;
      }
    }

    .name {
      font-size: $font-size-base;
    }
  }
</style>
