---
import { ICON_MAP, type IconKey } from '@/consts/icons';

interface Props {
  iconKey: IconKey;
}

const { iconKey, ...rest } = Astro.props;

function getIcon(key: IconKey) {
  const Icon = ICON_MAP[key].icon;
  return Icon;
}

const Icon = getIcon(iconKey);
---

<div class="icon-card" {...rest}>
  <Icon />
  <p class="name">{ICON_MAP[iconKey].name}</p>
</div>

<style lang="scss">
  .icon-card {
    text-align: center;

    svg {
      $size: $font-size-4xl;

      width: $size;
      height: $size;
    }

    .name {
      font-size: $font-size-base;
    }
  }
</style>
